{% extends 'base.html' %}

{% block title %}
    <title>Добавление товара</title>
{% endblock %}

{% block body%}
    <div class="container">
        <div class="alert alert-info">
            <h1>Добавление товара:</h1>
            <form method="post">
                <input type="text" class="form-control" name="title" id="title" placeholder="Введите название товара:"><br>
                <input type="number" class="form-control" name="price" id="price" placeholder="Введите цену товара:"><br>
                <input type="number" class="form-control" name="amount" id="amount" placeholder="Введите количество товара:"><br>
                <button class="me-2 py-1 btn btn-lg btn-primary"  type="submit">Добавить</button>
            </form>
        </div>
    </div>
{% endblock %}