{% extends 'base.html' %}

{% block title %}
    <title>Курс валют</title>
{% endblock %}

{% block body%}
    <div class="alert alert-info">
        <h1>Курсы валют на данный момент:</h1>
    </div>
    <div class="row mb-3 text-center">
      <div class="col-md-6 btn btn-lg btn-outline-primary">Доллар США/ 1 $</div>
      <div class="col-md-6 btn btn-lg btn-outline-primary">Беларусский рубль/ 2,52 Br</div>
    </div>
    <div class="row mb-3 text-center">
      <div class="col-md-6 btn btn-lg btn-outline-primary">Российский рубль/ 1 ₽</div>
      <div class="col-md-6 btn btn-lg btn-outline-primary">Беларусский рубль/ 2,69 Br</div>
    </div>
    <div class="row mb-3 text-center">
      <div class="col-md-6 btn btn-lg btn-outline-primary">Евро/ 1 €</div>
      <div class="col-md-6 btn btn-lg btn-outline-primary">Беларусский рубль/ 0,034 Br</div>
    </div>
    <div class="row mb-3 text-center">
      <div class="col-md-6 btn btn-lg btn-outline-primary">Польский злотый/ 1 zł</div>
      <div class="col-md-6 btn btn-lg btn-outline-primary">Беларусский рубль/ 0,57 Br</div>
    </div>
{% endblock %}